<?xml version="1.0"?>

<model>
  <name>other_robot</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Pedro Osório Silva</name>
    <email>pedroosorio.eeic@gmail.com</email>
  </author>

  <description>
    MinhoTeam's field robot model.
  </description>
</model>
