<?xml version="1.0"?>

<model>
  <name>Orange RoboCup MSL Ball</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Pedro Osório Silva</name>
    <email>pedroosorio.eeic@gmail.com</email>
  </author>

  <description>
    Orange RoboCup MSL ball (FIFA Official Size 5 Ball)
  </description>
</model>
